.wrapper{
    padding: 0px 60px;

}
.title{
    width: 100%;
    color: var(--text-color);
    margin-bottom: 15px;
}
.list{
    display: flex;
    // align-items: center;
    height: 100%;
    width: 100%;
}
.wrapper-box{
    position: relative;
    width: 16.66666%;
    padding: 0px 3px;
    background-color: transparent;
}

.number{
    border: 1px solid transparent;
    position: absolute;
    margin: 0 -1px;
    width: 50%;
}
.art{
    position: absolute;
    height: auto;
    width: 50%;
    right: 0px;
}