.wrapper-slide{
    width: 100%;
    margin-top: 50px;
    padding: 0px  70px ;
    .title-slide{
        color: var(--text-color);
        font-size: 20px;
        font-weight: 500;
        a{
            display: flex;
            .header-more-title{
                display: flex;
                height: 15px;
                margin: 5px;
                .see-link{
                    font-size: 15px;
                }
                .icon-see-link{
                    font-size: 10px;
                }
            }
        }
    }
    .slide{
        position: relative;
        margin-top: 10px;
        overflow: visible;
        &:hover .directional{
            display: flex;
        }
        .container{
            display: flex;
            width: max-content;
            transform: translateX(0px);
            transition: all 500ms ease;
            
        }
        .directional{
            display: none;
            align-items: center;
            position: absolute;
            outline: none;
            font-size: 40px;
            padding: 20px;
            color: var(--text-color);
            width: 70px;
            height: 100%;
            background-color: hsla(0,0%,8%,.5);
            z-index: 4;
            cursor: pointer;
            &:hover .icon{
                transition: all 150ms ease;
                transform: scale(1.5);
            }
            &.left{
                // display: none;
                left: 0px;
            }
            &.right{
                top: 0px;
                right: 0px;
                
            }
        }
    }
}
.slick-list {
    overflow: visible !important;
}
