.call-out{
    position: absolute;
    top: 55px;
    right: 22px;
    opacity: 1; 
    transition-duration: 150ms;
    color: var(--text-color);
    width: 20px;
    height: 20px;
}
.menu-account{
    border: 1px solid hsla(0,0%,100%,.25);
    position: absolute;
    background-color: rgba(0,0,0,.9);
    display: inline-block;
    width: 220px;
    right: 0px;
    top: 70px;
}
.account-list{
    padding: 10px 0px 5px;
    list-style: none;
}
.account{
    display: flex;
    padding: 5px 10px;
}
.avatar{
    border-radius: 5px;
    height: 32px;
    width: 32px;
}
.account-name{
    cursor: pointer;
    color: var(--text-color);
    margin-left: 10px;
    line-height: 32px;
}
.wrapper-sub-menu{
    padding: 0px 0px 10px;
}
.sub-menu-item{
    padding: 5px 10px;
    height: 42px;
    list-style: none;
    display: flex;
}
.icon-sub-menu{
    width: 45px;
    height: 23px;
    color: #b3b3b3;
    margin-left: -5px;
}
.content-sub-menu{
    color: var(--text-color);
    line-height: 32px;
}
.log-out{
    border-top: 1px solid hsla(0,0%,100%,.25);
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    height: 46px;
}
.log-out-now{
    color: var(--text-color);
    padding: 5px 10px;
}