.wrapper-sign-in-screen{
    width: 100%;
    height:100%;
    overflow: hidden;
    .logo{
        position: relative;
        z-index: 10;
        margin-left: 40px;
        width: 200px;
        height: 95px;
    }
}