.wrapper-menu-top-film{
    cursor: pointer;
    background-color: rgba(0,0,0,.9);
    border-radius: 5px;
    position: absolute;
    max-height: calc(100vh - 280px);
    min-height: 100px;
    overflow-y: scroll;
    width: 408px;
    right: 20px;
    top: 15px;
    border: 1px solid gray;
    &::-webkit-scrollbar {
        display: none;
    }
}
.top-film-item{
    border-bottom: 1px solid hsla(0,0%,100%,.25);
    display: flex;
    width: 100%;
    min-height: 95px;
    
    &:hover {
        background-color: rgba(48, 47, 47, 0.9);
    }
    &:hover .content-item{

    }
    .picture-item{
        border-radius: 20px;
        width: 144px;
        height: 95px;
        padding: 16px;
    }
    .content-item{
        display: block;
        width: inherit;
        min-height: 95px;
        max-height:fit-content;
        padding: 16px 16px 16px 0px;
        .title-item{
            color: #fff;
            font-size: 16px;
            margin-bottom: 10px;
        }
        .title-more{
            color: var(--text-color-menu);
            font-size: 16px;
        }
        .relative-time{
            margin-top: 8px;
            color: var(--text-color-menu);
            font-size: 11px;
        }
    }
}


