.wrapper-input-search{
    display: flex;
    width: 276px;
    height: 35.5px;
    margin-right: 20px;
    margin-top: 5px;
    background: rgba(0,0,0,0.5);
    border: 1px solid hsla(0,0%,100%,.85);
}
.icon-search-alone{
    cursor: pointer;
    margin-top: 5px;
    margin-right: 15px;
    color: var(--text-color);
    width: 25px;
    height: 25px;
}


.icon-search-input{
    color: var(--text-color);
    width: 25px;
    height: 25px;
    margin: 4.5px;
}
.search-input{
    background: transparent;
    border: none;
    font-size: 14px;
    outline: none;
    color: var(--text-color);
    line-height: 34px;
    padding: 7px 14px 7px 7px;
    width: 212px;
    height: 34px;
}
.delete-input{
    display: flex;
    width: 35px;
    height: 35px;
}
.icon-delete{
    padding: 10px;
    width: 15px;
    height: 15px;
    color: var(--text-color);
}