@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,400&family=Poppins:wght@400;500&display=swap');

:root{
    --text-color: #E5E5E5;
    --text-color-menu: #ccc;
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    background-color: #141414;
    overflow-x: hidden;
    -webkit-user-select: none;
    user-select: none;
    ul{
        list-style: none;
    }
    // Link{
    //     text-decoration: none
    // }
}

/////////////////////////////////////////////////////
.slick-slide{
}
.slick-list {
    padding-left: 60px;
    overflow: visible ;
}

.dots{
    position: absolute;
    li{
        width: 10px !important;
        height: 5px !important;
        margin: 1px !important;
    }
    .slick-active{
        position: relative;
        top: -3px;
        width: 10px !important;
        height: 2px !important;
        margin: 1px !important;
        opacity: 0.3;
    }
}
.dot{
    width: 10px;
    height: 2px;
    background: var(--text-color);
}
.rotate-icon{
    transition: transform 250ms cubic-bezier(.21,0,.07,1);
    transform: rotate(180deg);
}
