      
.wrapper-header-main{
    height: 68px;
    .nav-left{
        display: flex;
        width: 90%;
        height: 100%;
        .show-mobie-nav{
            display: none;
        }
        .show-mobie-nav:checked ~ .trans-{
            transform: translateX(0%);
        }
        .show-mobie-nav:checked ~ .layout-overlay{
            display: block;
        }
        .layout-overlay{
            display: none;
            position: fixed;
            width: 100%;
            height: 10000px;
            z-index: 1;
            top: 0px;
            bottom: 0;
            right: 0;
            background-color: rgba(0,0,0,0.9);
        }
        .logo-link{
            cursor: pointer;
            display: flex;
            width: 15%;
            height: 100%;
            .logo-f{
                object-fit: cover;
                height: 100%;
                margin: 0px -12px ;
            }

        }
        .arrow-nav{
            display: none;
            color: #ababad;
            height: 100%;
            align-items: center;
            margin-left: 10px;
            cursor: pointer;
            &:hover{
                color: #FFFFFF;
            }
            .nav-bars{
                font-size: 20px;
            }
        }
        ////////mobie
        
        
        
        /////////////////
        .small-nav{
            width:100%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            
            
            .wrapper-list{
                width: 700px;
                display: flex;
                justify-content:flex-start;
                align-items: center;
                .list-small-nav{
                    display: flex;
                    align-items: center;
                    position: absolute;
                    .link-page{
                        list-style: none;
                        display: inline;
                        width: fit-content;                        
                        margin-right: 20px;
                        .icon{
                            display: none;
                            color: #FFFFFF;
                            width: 10px;
                            height: 10px;
                            margin-right: 7px;
                        }
                        .nav-item{
                            cursor: pointer;
                            // padding: 4px 0;
                            border-radius: 20px;
                            display: flex;
                            width: 100%;
                            text-decoration: none;
                            font-size: 15px;
                            color: #c6c3c3;
                            transition: all 0.4s;
                            &:hover{
                                color: #FFFFFF;
                            }
                        }
                        .active{
                            user-select: none;
                            color: #FFFFFF;
                            cursor: default;
                        }
                       
                    }
                }
            }
        }
        .address-page{
            display: none;
            position: absolute;
            top: 7px;
            left: 20%;
            height: 100%;
            span{
                color: #ababad;
                font-size: 17px;
            }
        }
    }
    
    .nav-right{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: fit-content;
        height: 68px;
        right: 5%;
        top: 0px;
        .search-small-nav{
        }
        .icon-bell{
            cursor: pointer;
            color: var(--text-color);
            margin-top: 3px;
            margin-right: 15px;
            width: 30px;
            height: 30px;
        }
        .search{
            cursor: pointer;
        }
        .wrapper-menu-account{
            .account{
                display: flex;
                .avatar{
                    cursor: pointer;
                    border-radius: 5px;
                    height: 32px;
                    width: 32px;
                }
                .icon-up{
                    cursor: pointer;
                    transition: transform 367ms cubic-bezier(.21,0,.07,1);
                    color: var(--text-color);
                    margin-left: 7px;
                    margin-top: 9px;
                }
            }
            &:hover .icon-up{
                transition: transform 300ms cubic-bezier(.21,0,.07,1);
                transform: rotate(180deg);
            }
            
        }
    
    }
    
    
}  
.wrapper-nav-mobie{
    width: 300px;
    height: 300px;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    border: 1px solid gray ;
    .container{
        width: 100%;
        .item{
            height: 30px;
            width: 100%;
            padding: 5px;
            &:hover{
                background-color: rgba(87, 87, 87, 0.5);
            }
            .link{
                display: flex;
                align-items: center;
                text-decoration: none;
                color: #ababad;
                &:hover{
                    color: #FFFFFF;
                }
                .icon{
                    margin-right: 5px;
                }
                .title{
                    font-size: 16px;
                }
            }
        }
    }
}
// 70%pc w1024-1300px
@media screen and ( min-width: 64em) and (max-width: 81.25em) {
  .wrapper-header-main{
    height: 50px;
    .nav-left{
        .small-nav{
            .search-small-nav{
                right: -15px;
                .container{
                    width: 35px;
                    height: 35px;
                    .show-search{
                        .icon-search{
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
            .wrapper-list{
                .list-small-nav{
                    .link-page{
                        .nav-item{
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
    .nav-right{
        height: 50px;
        .icon-bell{
            width: 25px;
            height: 25px;
        }
        .wrapper-menu-account{
            .account{
                .avatar{
                    width: 27px;
                    height: 27px;
                }
                // .icon-up{

                // }
            }
        }
    }
  }
}
///tablet 740-1023px
@media screen and (min-width: 46.25em) and (max-width:63.9375em ) {
    .wrapper-header-main{
        height: 40px;
            .nav-left{
                .small-nav{
                    .wrapper-list{
                        .list-small-nav{
                            .link-page{
                                .nav-item{
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        .nav-right{
            // width: 15%;
            height: 40px;
            .search-small-nav{
                right: -5px;
                .container{
                    width: 35px;
                    height: 35px;
                    .show-search{
                        .icon-search{
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
            .icon-bell{
                margin-right: 10px;
                width: 20px;
                height: 20px;
            }
            .wrapper-menu-account{
                .account{
                    .avatar{
                        width: 20px;
                        height: 20px;
                    }
                    .icon-up{
                        display: none;
                    }
                }
            }
        }
    }
}
    
///phone <740px
@media screen and (max-width:46.1875em ) {
   
    .wrapper-header-main{
        height: 34px;
        .nav-left{
            .arrow-nav{
            display: flex;
        }
            .address-page{
                display: flex;
            }
            .small-nav{
                .exit{
                }
                    .wrapper-list{
                        display: none;
                    }
                }
            }
        .nav-right{
            height: 34px;
            .search-small-nav{
                .container{
                    height: 30px;
                    width: 30px;
                    .input-search{
                        padding: 3px 30px 3px 32px;
                    }
                    .show-search{
                        .icon-search{
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
            .icon-bell{
                margin-right: 5px;
                width: 19px;
                height: 19px;
            }
            .search{
                display: none;
            }
            .wrapper-menu-account{
                .account{
                    .avatar{
                        width: 17px;
                        height: 17px;
                    }
                    .icon-up{
                        display: none;
                    }
                }
            }
        }
      }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}